@model deAndrade_Project_III.Models.UpsertCustomerModel
@{
    ViewBag.Title = " - Customers";
}

<link rel="stylesheet" href="~/Content/geoapify.css" />

<h2><span id="title"></span> Customer</h2>

@using (Html.BeginForm("Upsert", "Customer", FormMethod.Post))
{
    <div class="upsert-container">
        @Html.HiddenFor(gm => gm.Customer.CustomerID)
        @if (!Model.IsNull())
        {
            <div class="no-collapsing">
                <div class="form-title"><span class="theader">ID</span></div>
                <div class="form-field">
                    @Model.Customer.CustomerID
                </div>
            </div>
            <div><hr /></div>
        }

        <div class="no-collapsing">
            <div class="form-title"><span class="theader">Name</span></div>
            <div class="form-field">
                @Html.TextBoxFor(gm => gm.Customer.Name, new { @class = "form-control", placeholder = "Name" })
            </div>
        </div>

        <div><hr /></div>
        <div class="no-collapsing">
            <div class="form-title"><span class="theader">Email</span></div>
            <div class="form-field">
                @Html.TextBoxFor(gm => gm.Customer.Email, new { @class = "form-control", placeholder = "Email" })
            </div>
        </div>

        <div><hr /></div>
        <div class="autocomplete-main-container">
            <div class="autocomplete-container autocomplete" id="autocomplete-container"></div>
            <div class="autocomplete-aware">Valid only for United States / Canada addresses</div>
        </div>

        <div><hr /></div>
        <div class="no-collapsing">
            <div class="form-title"><span class="theader">Address</span></div>
            <div class="form-field">
                @{ string address = Model.IsNull() ? "" : Model.Customer.Address;}
                <input type="text" class="form-control" value="@address" placeholder="Address" id="address" disabled />
                @Html.HiddenFor(gm => gm.Customer.Address, new { id = "hidden_address" })
            </div>
        </div>

        <div><hr /></div>
        <div class="no-collapsing">
            <div class="form-title"><span class="theader">City</span></div>
            <div class="form-field">
                @{ string city = Model.IsNull() ? "" : Model.Customer.City;}
                <input type="text" class="form-control" value="@city" placeholder="City" id="city" disabled />
                @Html.HiddenFor(gm => gm.Customer.City, new { id = "hidden_city" })
            </div>
        </div>

        <div><hr /></div>
        <div class="no-collapsing">
            <div class="form-title"><span class="theader">State</span></div>
            <div class="form-field">
                @{ string state = Model.IsNull() ? "" : Model.Customer.State;}
                <input type="text" class="form-control" value="@state" placeholder="State" id="state" disabled />
                @Html.HiddenFor(gm => gm.Customer.State, new { id = "hidden_state" })
            </div>
        </div>

        <div><hr /></div>
        <div class="no-collapsing">
            <div class="form-title"><span class="theader">ZipCode</span></div>
            <div class="form-field">
                @{ string zipcode = Model.IsNull() ? "" : Model.Customer.ZipCode;}
                <input type="text" class="form-control" value="@zipcode" placeholder="ZipCode" id="zipcode" disabled />
                @Html.HiddenFor(gm => gm.Customer.ZipCode, new { id = "hidden_zipcode" })
            </div>
        </div>

    </div>
    <div class="align-content-center">
        <input type="submit" value="Submit" class="btn btn-default" />
        <input type="button" value="Back to the list" onclick="new Book().Back();" class="btn btn-default" />
        @if (!Model.IsNull())
        {
            <input type="button" value="Delete" onclick="new Book().ApiHandler('DELETE', '@Model.Customer.CustomerID');" class="btn btn-danger" />
        }
    </div>
}

<script src="~/Scripts/geoapify.js"></script>